.navigation {
    width: 90vw;
    border: 1px solid darkcyan;
    background-color: aqua;
    border-radius: 5px;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    font-style: oblique;
    font-size: x-large;
}
a {
    text-decoration: none;
    color: blueviolet;
}
.Header {
    margin-top: 80px;
    text-align: center;
}
.Anime {
    border: 1px solid crimson;
    width: 300px;
    padding: 20px;
    height: 220px;
    background-color: brown;
    border-radius: 7px;
    text-align: center;
}
img {
    width: 220px;
    height: 200px;
}
.Images {
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Footer {
    border: 1px solid cornflowerblue;
    background-color: aquamarine;
    margin-top: 15px;
    height: 145px;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: inherit;
}
.Paragraph {
    margin-top: 80px;
    text-align: center;
    font-size: x-large;
    font-style: oblique;
}
.Query{
    margin-top: 80px;
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    font-style: oblique;
}
.Head {
    margin-top: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 400;
}